html {
  font-size: 16px;
}

body {
  margin: 1rem;
  padding: 0px;
  font-size: 1rem;
  line-height: 2rem;
}

#mvc_tree {
  overflow: hidden;
  position: relative;
  left: -0.733337px;
  top: 0.766666px;
  z-index: 0;
}

.node_design, 
.node_tech {
  cursor: pointer;
  stroke-width: 3.5;
  stroke: #663c4d;
}

.node_design {
  fill: #ffffff;
}

.node_header {
  fill: #f1f1f1;
  font-size: 16px;
}

.node_txt,
.node_txt_auth {
  cursor: pointer;
}
 
.node_header_title,
.node_txt,
.node_txt_auth, 
.year_line_txt {
  text-anchor: middle;
  font-size: 14px;
  font-family: monospace;
  stroke: none;
  fill: #000000;
}

.node_txt_auth {
  font-style: italic;
}

.year_line_txt {
  font-size: 12px;
}

/* Grid */
.grid_line {
  stroke: #dbdbdb;
}

.overlay_checkbox {
  background-color: #fff;
  border: 4px double #337AB7;
  cursor: pointer;
  margin: 4px;
  padding: 2px;
  text-align: center;
  max-width: 160px;
  overflow: hidden;
}

.overlay_checkbox:hover, 
.overlay_enabled {
  border-style: solid;
}

.overlay_checkbox:hover{
  border-color: #663C4D;
} 

.overlay_enabled:hover {
  border-color: #337AB7;
}

.tech_sig { 
  fill: #DCB1D9;
}
.tech_java { 
  fill: #C4FBFF;
}
.tech_js { 
  fill: #FFFEC2;
}
.tech_ms { 
  fill: #9ED2F4;
}
.tech_php { 
  fill: #9694B4;
}
.tech_python {
  fill: #9BFFA4;
}
.tech_ruby { 
  fill: #D67373;
}
.tech_smalltalk { 
  fill: #FFB675;
}

.button_top {
  font-size: 1.8rem;
  margin: 10px 0;
}

/* mvc_tree */

.mvc_tree_wrapper_scroll {
  overflow-x: scroll;
}

.mvc_tree_wrapper {
  width: 350%;
  max-width: 1280px;
  margin: 0 auto;
  border: 4px solid #D9EDF7;
  border-radius: 8px;
}

@media (min-width: 360px) {
  .mvc_tree_wrapper {
    width: 300%;
  }
}

@media (min-width: 480px) {
  .mvc_tree_wrapper {
    width: 200%;
  }
}

@media (min-width: 769px) {
  .mvc_tree_wrapper {
    width: 150%;
  }
}

@media (min-width: 900px) {
  .mvc_tree_wrapper {
    width: 100%;
  }
}

/* Tabbed Drawer start */

.tabbed_drawer {
  position: fixed;
  top: 20%;
  z-index: 10;
  right: 0px;
}

.td_tab {
  text-align: center;
  border: 1px solid #000;
  border-width: 1px 0px 1px 1px;
  border-radius: 4px 0px 0px 4px;
  border-right-color: #e3e3e3;
  float: left;
  background-color: #D9EDF7;
  cursor: pointer;
  position: relative;
  top: 1rem;
  z-index: 9;
  font-size: 1.3rem;
  padding: 1rem 0;
}

.td_drawer {
  border: 1px solid #000;
  border-width: 1px 0 1px 1px;
  border-radius: 4px 0 0 4px;
  margin-left: -1px;
  position: relative;
  z-index: 8;
  float: left;
  background-color: #D9EDF7;
  min-height: 200px;
  padding: 0.3rem;
  overflow: hidden;
  width: 0px;
}

.is-drawer-shown .td_drawer {
  width: inherit;
}

/* Tabbed Drawer end*/

/* svg paths start */

.arrowHead {
  fill: #663c4d;
  stroke: #663c4d; 
  stroke-width: 0;
}

.dashedLine {
  stroke: #464646; 
  stroke-dasharray: '- ';
  stroke-width: 1.1;
}

/* 
 TODO: z-index doesn't work, do this:
 http://jsfiddle.net/hkSFf/
*/
.line {
  fill: none;
  stroke-width: 2.5;
  stroke: #663c4d;
  z-index: 5;
}
.line:hover {
  stroke: #AA8091;
  stroke-width: 6;
  z-index: 10;
}
.line-dashed {
  stroke: #464646;
}

.year_line_path {
  stroke: #D9EDF7; 
  stroke-width: 7;
}

/* svg paths end */

/* Bootstrap */

.panel {
  margin-top: 2px;
}
