# See https://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/web/dist

# dependencies
/node_modules
/bower_components
/web/node_modules

# Playwright
/web/test-results
/web/playwright-report
/web/blob-report
/web/playwright/.cache

# misc
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log*
testem.log
