<p>
  An interface builder, written by Denison Bollay, that allows editing of the application at run time.
</p>
<p>
  A highly recommended read about the history behind this tool and how it relates to other technologies is found here: 
  {{link-to-blank 'Interface Builder\'s Alternative Lisp timeline' 'http://paulhammant.com/2013/03/28/interface-builders-alternative-lisp-timeline/'}}
</p>
<blockquote>
  To me, Action! is one the “holy grail” items from the history of user interfaces, if not IT more generally.
  <footer>
    Paul Hammant
  </footer>
</blockquote>
