<p>
  AngularJS is a tool set for building the framework most suited to your application development.
  It is maintained by Google and the community.
  <blockquote>
    <p>
      Angular is not a framework, it's an HTML compiler
    </p>
    <footer>
      Misko Hevery, creator of Angular
    </footer>
  </blockquote>
</p>
<p>
  In 2012 Angular was declared a Model View Whatever library through a post made in the
  <a href="https://plus.google.com/+AngularJS/posts/aZNVhj355G2">AngularJS G+ account</a>.
  It wasn't a very formal declaration, but it helped the term to take off.
</p>

