<p>
  Dolphin, the Object Arts Ltd implementation of Smalltalk, used MVP as its UI model. 
  The design is derived from the Taligent C++ system.
</p>
<p>
  The research and reasonings behind that decision are found in a paper by Andy Bower and Blair McGlashan called: 
  {{link-to-blank 'Twisting the Triad'
                  'papers/Twisting_the_Triad.pdf'}}, published in 2000.
  In their research about MVC, they used VisualWorks 2.5 which actually refers to Application Model 
  and in their paper both terms are used interchangeably.
</p>
<p>
  A detailed timeline about Dolphin can be fount at:
  {{link-to-blank "Ian's Dolphin Smalltalk Pages"
                  'http://www.idb.me.uk/idb/about.html'}}
</p>
