<p>
  Dolphin, the Object Arts Ltd implementation of Smalltalk, used MVP as its UI model. 
  The research and reasonings behind that decision are found in a paper by Andy Bower and Blair McGlashan called: 
  <a href="papers/Twisting_the_Triad.pdf">Twisting the Triad</a>, published in 2000.
</p>
<p>
  In their research about MVC, they used VisualWorks 2.5 which actually refers to Application Model 
  and in their paper both terms are used interchangeably.
</p>
<p>
  A detailed timeline about Dolphin can be fount at:
  <a href="http://www.idb.me.uk/idb/about.html">Ian's Dolphin Smalltalk Pages</a>
</p>
