<p>
  Drupal is a content management framework and the core installation can serve as a simple web site, a single or multi-user blog, an Internet forum, or a community web site providing for user-generated content.
</p>
<p>
  The framework has been around for a long time and different versions will reflect different MVC designs.
</p>
<a target="_blank" href="http://www.garfieldtech.com/blog/mvc-vs-pac">
  <blockquote>
    Drupal is very much a PAC architecture.
    <footer>
      Larry Garfield
    </footer>
  </blockquote>
</a>

