      <p>
        Drupal is a content management framework and the core installation can serve as a simple web site, a single or multi-user blog, an Internet forum, or a community web site providing for user-generated content.
      </p>
      <p>
        The framework has been around for a long time and different versions will reflect different MVC designs.
        It has been described a couple of times as a PAC architecture.
      </p>

