<p>
  Its an opinionated JavaScript framework that embraces the concept of convention over configuration.
  It was originally being developed as SproutCore 2.0, but it changed course, the announcement:
  {{link-to-blank 'Amber.js (formerly SproutCore 2.0) is now Ember.js'
                  'http://yehudakatz.com/2011/12/12/amber-js-formerly-sproutcore-2-0-is-now-ember-js/'}}
  <br>
  You can listen to some of the history in this panel discussion recorded at an Ember.js NYC meetup:
  {{link-to-blank 'Fireside Chat with Ember Core Team Members, June 2013' 'https://youtu.be/L9OOMygo1HI?t=18m30s'}}
</p>
