<p>
  Its an opinionated JavaScript framework that embraces the concept of convention over configuration.
  It was originally being developed as SproutCore 2.0, but it changed course, the announcement:
  {{link-to-blank 'Amber.js (formerly SproutCore 2.0) is now Ember.js'
                  'http://yehudakatz.com/2011/12/12/amber-js-formerly-sproutcore-2-0-is-now-ember-js/'}}
</p>

