<blockquote>
  <p>
    JSF 1.x was based upon the same core ideas as Struts 1.0 but with a few twists:
  </p>
  <ul>
   <li>
     binding user actions to java method calls, 
   </li>
   <li>
     an ecosystem of reusable UI components
   </li>
  </ul> 
  <p>
    Some people called it an improvement over Model 2 architecture, but at its core there was no fundamental difference. The request was intercepted by a front controller, which created the model, the model was used to access data, then the request was forwarded to a view that usually read from the model.
  </p>
  <footer>
    Dennis Byrne
  </footer>
</blockquote>

<p>
  JSF went on to become a standard way of constructing Java web applications. Particularly the page decomposition aspects.
</p>

