      <p>
        NextSTEP is an object-oriented, multitasking operating system which was developed by NeXT Computer, Inc.
      </p>
      <p>
        Tim Berners Lee once commented that his pioneering World-Wide-Web application was only feasible at the time because of NeXTstep.
      </p>
      <p>
        NeXTstep was later modified to separate the underlying operating system from the higher-level object libraries.
        The result was the OpenStep API, a predecesor of Mac OS X and the Cocoa API.
      </p>

