<blockquote>

  <p>
    On the architectural level, all the inspiration came from the Java world and from Martin Fowler's Patterns of Enterprise Application Architecture.
    That book had just come out in January of 2003 as I started working on Rails in mid-2003. So it was immensely helpful.
  </p>

  <p>
    So was learning from Struts 1.x, and I believe WebWork was around at the time as well.
    I basically studied all the Java frameworks available at the time, and while I was disgusted by the implementation of the ideas, the ideas themselves were powerful.
    The appropriation of MVC into a request/response context as one of those powerful ideas.
  </p>

  <footer>
    David Heinemeier Hansson
  </footer>

</blockquote>

<p>
  Rails heralded a convention over configuration era, and caused a seismic shift in the world of web-application development.
</p>
