<p>
  Struts 1 was an early
  {{link-to-blank 'Java web-framework in 2000'
                  'http://en.wikipedia.org/wiki/Apache_Struts'}}
  that honored the "Model 2" ideals. It had a lot of XML configuration.
</p>
