<p>
  Java's Swing was a full MVC thick-client library developed originally by Netscape in 1996 as "Internet Foundation Classes", and donated to Sun soon after.
  It was merged with other technologies and launched as Swing. Wikipedia has a 
  {{link-to-blank 'good write'
                  'http://en.wikipedia.org/wiki/Internet_Foundation_Classes'}} up of the origins.
</p>

<p>
  The technology sat on top of the existing "Abstract Window Toolkit"
  ({{link-to-blank 'AWT' 'http://en.wikipedia.org/wiki/Abstract_Window_Toolkit'}}), and provided a comprehensive set of controls for cross-platform UI construction.
  Models and Views were extendable. Controllers pulled things together. Decomposition was easy.
  Views could update models without controller particpation.
  Models, Views and Controllers could be instantiated semi-independently, which was important for testing.
  Testing wasn't a core activity until 
  {{link-to-blank 'JUnit 1.0 in 1997'
                  'https://twitter.com/kentbeck/status/299190735486476289'}}, though.
</p>
