<p>
  Java's Swing was a full MVC thick-client library devloped originally by Netscape in 1996 as &qt;Internet Foundation Classes&qt;, and donated to Sun soon after. It was merged with othe technologies and launched as Swing. Wikipedia has a <a href="http://en.wikipedia.org/wiki/Internet_Foundation_Classes">good write</a> up of the origins.
</p>

<p>
  The technology sat on top of the existing "Abstract Window Toolkit" (<a href="http://en.wikipedia.org/wiki/Abstract_Window_Toolkit">AWT</a>), and provided a comprehensive set of controls for cross-platform UI construction. Models and Views were extendable.  Controllers pulled things together. Decomposition was easy. Views could update models without controller particpation. Models, Views and Controllers could be instantiated semi-independently, which was important for testing. Testing wasn't a core activity until <a href="https://twitter.com/kentbeck/status/299190735486476289">JUnit 1.0 in 1997</a>, though.
</p>