<p>
  Later renamed to Nexus to avoid confusion between the software and the World Wide Web; is the first web browser and editor.
</p>

<blockquote>
  Tim Berners Lee once commented that his pioneering World-Wide-Web application was only feasible at the time because of NeXTstep.
</blockquote>

<p>
  The first web site was published in 1990 and it is still online:
  {{link-to-blank 'The World Wide Web project' 'http://info.cern.ch/hypertext/WWW/TheProject.html'}}
</p>
