<p>
  Used in VisualWorks, a dialect of Smalltalk sold by Cincom as part of Cincom Smalltalk. 
</p>

<p>
  <a target="_blank" href="http://stephane.ducasse.free.fr/FreeBooks/HopkinsHoran/HopkinsHoran.pdf">
    Smalltalk an Introduction to Application Development Using VisualWorks (1995)
  </a>
  is a book that provides a comprehensive description of the VisualWorks 2.0 development environment and its implementation of MVC.
</p>

<p>
  Key features:
  <ul>
    <li>
      Properties are turned into objects that are observable. Say a string property is wrapped with an object that has getters and setters. The wrapper is observable and the mapping between widgets and model is a little easier.
    </li>
  </ul>
</p>

<blockquote>
  As Smalltalk developed in the 80's and 90's this led to some significant variations on the classic MVC model. Indeed one could almost say that MVC disappeared, if you consider the view/controller separation to be an essential part of MVC - which the name does imply.
  <footer>
    <a target="_blank" href="http://martinfowler.com/eaaDev/uiArchs.html#VisualworksApplicationModel">Martin Fowler</a>
  </footer>
</blockquote>
