<p>
  Used in VisualWorks, a dialect of Smalltalk sold by Cincom as part of Cincom Smalltalk. 
</p>
<p>
  <a target="_blank" href="http://stephane.ducasse.free.fr/FreeBooks/HopkinsHoran/HopkinsHoran.pdf">
    Smalltalk an Introduction to Application Development Using VisualWorks (1995)
  </a>
  is a book that provides a comprehensive description of the VisualWorks 2.0 development environment.
</p>

<blockquote>
  ...a construct that moves towards Presentation Model.
  <footer>
    Martin Fowler
  </footer>
</blockquote>
