<p>
  Used in VisualWorks, a Smalltalk implementation done by ParcPlace. 
</p>

<blockquote>
    ...a construct that moves towards Presentation Model.
    <footer>
        M. Fowler
    </footer>
</blockquote>
