        A design pattern used in Java Web applications described in
        <a href="http://www.kirkdorffer.com/jspspecs/jsp092.html#model">
          JavaServer Pages - Specification 0.92
        </a>. A year later after release it was associated with MVC.<br/><br/>

        At the time, it was influential amongst Java web developers as a better way to do web applications, and construct applications closer to the tenets of MVC. JavaWorld perhaps had the most <a href="http://www.javaworld.com/article/2076557/java-web-development/understanding-javaserver-pages-model-2-architecture.html">sticky article of the time</a>.<br/><br/>. For some Java developers, this was the first time they had been exposed to MVC.

        In retrospect It was really only a small advance, but it heralded a shift away from each server-side generated page being its own thing, to pages being part of a larger design with a front-controller orchestrating.

