        A design pattern used in Java Web applications described in
        <a href="http://www.kirkdorffer.com/jspspecs/jsp092.html#model">
          JavaServer Pages - Specification 0.92
        </a>. A year later after release it was associated with MVC.

