<p>
  It is not certain which are differences between this pattern and
  <a href="#mvp">MVP</a>.
</p>

<p>
  The pattern arranges model, adapter (mediating controller) and view linearly without any connections whatsoever directly between model and view.
</p>

<p>
  The MVC design used by Cocoa implements the mediator pattern. The framework is well known for using MVA, however the documentation never uses that name, it is unclear who coined the name.
</p>

<p>
  Giving so much responsibility to a singel object, the mediating controller, has been jokingly refered to as 
  {{link-to-blank 'Massive View Controller'
                  'https://twitter.com/Colin_Campbell/status/293167951132098560'}}.
</p>
