<p>
  Glenn E. Krasner and Stephen T. Pope published a variation of MVC in
  <a href="papers/A_Cookbook_for_Using_the_Model-View-Controller_User_Interface_Paradigm_in_Smalltalk-80.pdf">
    A Cookbook for Using the Model-View-Controller User Interface Paradigm in Smalltalk-80
  </a>.
</p>

{{lazy-image url='mvc-kp.png' imgClass='img-responsive center-block'}}
