        <p>
        First described by Mike Potel from Taligent Inc. in 
        <a href="papers/mvp-taligent.pdf">
          MVP: Model-View-Presenter, The Taligent Programming Model for C++ and Java
        </a>.
        </p>

        <p>
        Key features:
        <ul>
          <li>
          The classic controller faded in into the view and now is called an interactor.
          </li>
          <li>
          The Presenter is a controller, but elevated to the application level.
          </li>
        </ul>
        </p>

