<p>
  First described by Mike Potel from Taligent Inc. in 
  <a href="papers/MVP_Model-View-Presenter_The_Taligent_Programming_Model_for_C++_and_Java.pdf">
    MVP: Model-View-Presenter, The Taligent Programming Model for C++ and Java
  </a>. 
</p>

{{lazy-image url='mvp.png' imgClass='img-responsive center-block'}}
