<p>
  Developed independently from MVC by Joëlle Coutaz in:
  <a href="papers/pac.pdf">
    PAC, an Object Oriented Model for Dialog Design.
  </a>
</p>
<p>
  In an email response J. Coutaz said that:
  <blockquote>
    when she formulated PAC, that she was unaware of MVC, and that she chose the word "control" independently.
    She later discovered MVC and was delighted to see the similarities, but 
    also noted that her (independently coined) term "control" was similar to the term "controller" used with a very different meaning. 
  </blockquote>
  All this was reported by Kyle Brown in
  <a href="http://c2.com/cgi/wiki?WhatsaControllerAnyway">Whats a Controller Anyway</a>.
</p>
