<p>
  Described by Martin Fowler in
  <a href="http://martinfowler.com/eaaDev/PresentationModel.html">
    Development of Further Patterns of Enterprise Application Architecture.
  </a>
</p>
<p>
  You must provide a synchronization mechanism between the Presentation Model and the view.
</p>
