<p>
  Described by Martin Fowler in
  {{link-to-blank 'Development of Further Patterns of Enterprise Application Architecture'
                  'http://martinfowler.com/eaaDev/PresentationModel.html'}}
</p>
<p>
  You must provide a synchronization mechanism between the Presentation Model and the View.
</p>
<p>
  The communication can be set up in different ways:
  <ul>
    <li>
      The View references the Presentation Model
    </li>
    <li>
      The Presentation Model references and observes the View.
    </li>
  </ul>
</p>
