        Described by Martin Fowler in
        <a href="http://martinfowler.com/eaaDev/PresentationModel.html">
          Development of Further Patterns of Enterprise Application Architecture.
        </a>

