<p>
  Trygve Reenskaug writes a memo, 
  <a href="papers/A_note_on_Dynabook_requirements.pdf">
    A note on Dynabook requirements</a>,
  that describes his design for a project management task.
  A couple of months later in another memo the 
  <a href="papers/Thing-Model-View-Editor.pdf">Thing-Model-View-Editor</a>
  metaphor is explored.
</p>
