<p>
  Trygve Reenskaug writes a memo, 
  {{link-to-blank 'A note on Dynabook requirements' 
                  'papers/A_note_on_Dynabook_requirements.pdf'}},
  that describes his design for a project management task.
  A couple of months later in another memo the 
  {{link-to-blank 'Thing-Model-View-Editor'
                  'papers/Thing-Model-View-Editor.pdf'}}
  metaphor is explored.
</p>
