        Trygve Reenskaug writes a memo, 
        <a href="papers/a-note-on-dynabook-requirements.pdf">
          a note on DynaBook requirements
        </a>
        , that describes his design for a project management task.
        A couple of months later in another memo the 
        <a href="papers/tmve.pdf">thing-model-view-editor</a>
        metaphor is explored.
