
<div class="container">
  <h1>About</h1>

  <div class="alert alert-warning" role="alert">
    WIP: last update 03 / April / 2015 
  </div>

  <div class="panel panel-success">
    <div class="panel-heading">
      Why?
    </div>
    <div class="panel-body">
      <p>
        It is a common mistake to think that there is a single MVC design and that it is just about separation of concerns (data storage, user interface, business logic).
        Application designs also include tradeoffs between resources consumption, maintainability, testing, debugging etc.
      <p>
      </p>
        Also, is not well known that the pattern is used differently in different scenarios.
        A server application and a client application might be using an MVC pattern, but it won't work exactly in the same way.
        Context makes a difference in how the pattern is applied.
      </p>
    </div>
  </div>

  <div class="panel panel-success">
    <div class="panel-heading">
      What for?
    </div>
    <div class="panel-body">
      <p>
        Understanding the reasons behind design choices of the past will enable you to make better decisions for new design challenges.
      </p>
      <p>
        Knowing that different technologies use different versions of MVC will help you to avoid confusion when learning to use new tools.
      </p>
    </div>
  </div>

  <div class="panel panel-success">
    <div class="panel-heading">
      Who?
    </div>
    <div class="panel-body">
      <p>
        Built by
        <a target="_blank" href="https://twitter.com/givanse">@givanse</a>
        with the help and guidance of
        <a target="_blank" href="https://twitter.com/paul_hammant">@paul_hammant</a>.
      </p>
      <p>
        I had a need to better understand MVC, I did some research and wrote an article about it:
        <a href="http://givan.se/p/00000010">MVC past, present and future</a>.
        That led to a bunch of emails between me and P. Hammant.
        I received more ideas to go beyond the original article and also some neat sources of information.
        Now, it is all here.
      </p>
    </div>
  </div>

  <div class="panel panel-success">
    <div class="panel-heading">
      How?
    </div>
    <div class="panel-body">
      <p>
        Ember.js views that use SVG tags as their tagName property.
      </p>
      <p>
        Pull requests are welcome. This are the files where you would add or edit content:
        <ul>
          <li>
            <a href="https://github.com/givanse/mvc-tree/tree/master/app/jsons">
              app/jsons</a>
          </li>
          <li>
            <a href="https://github.com/givanse/mvc-tree/tree/master/app/templates/dpatterns">
              app/templates/dpatterns</a>
          </li>
          <li>
            <a href="https://github.com/givanse/mvc-tree/tree/master/app/templates/technologies">
              app/templates/technologies</a>
          </li>
        </ul>
      </p>
      <p>
        Hosted at <a href="https://github.com/givanse/mvc-tree/">Github</a>.
      </p>
    </div>
  </div>

</div>

{{outlet}}
