
<div class="container">
  <h1>About</h1>

  <div class="alert alert-warning" role="alert">
    WIP: Work In Progress 
  </div>

  <div class="panel panel-success">
    <div class="panel panel-heading">
      Why?
    </div>
    <div class="panel panel-body">
      Because of reasons.
    </div>
  </div>

  <div class="panel panel-success">
    <div class="panel panel-heading">
      Who?
    </div>
    <div class="panel panel-body">
      Built by
      <a target="_blank" href="https://twitter.com/givanse">@givanse</a>
      with the help and guidance of
      <a target="_blank" href="https://twitter.com/paul_hammant">@paul_hammant</a>.
    </div>
  </div>

  <div class="panel panel-success">
    <div class="panel panel-heading">
      How?
    </div>
    <div class="panel panel-body">
      Ember.js views that use SVG tags as their tagName property.
    </div>
  </div>

</div>

{{outlet}}
