
<b>DRAFT, Do not share yet please.</b><br>
<b>Tue Oct 21 19:21:19 CDT 2014</b><br>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2 id='title'>MVC Family Tree</h2>
    </div>
  </div>

  {{outlet}}
</div>
